.logoutBtn {
    color: #d8d8d8
}

.logoutBtn:hover {
    color: #d1eaff
}

.home-section-container {
    background-color: rgba(209, 209, 209, .726);
    min-height: 95vh;
    padding: 2em 1em
}

.form-control {
    box-shadow: none !important;
    border: 1px solid #c5c5c5 !important
}

.create-ticket-btn {
    background-color: #5a14dd;
    color: #fff;
    padding: .4em;
    border: 1px solid #8a2be2;
    border-radius: 4px;
    font-size: .9em
}

.create-ticket-btn:hover {
    background-color: #5010c9
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
    display: none
}

.task-assign-btn {
    background-color: #1ad608;
    color: #fff;
    padding: .4em;
    border: 1px solid #2deb14;
    border-radius: 4px;
    font-size: .9em
}

.task-assign-btn:hover {
    background-color: #2af034
}

.status-btn {
    background-color: #8f0dc2;
    color: #fff;
    padding: .4em;
    border: 1px solid #8f0dc2;
    border-radius: 4px;
    font-size: .9em
}

.status-btn:hover {
    background-color: #af2fe2
}